body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  color: #333333;
  margin: 0 1rem;
  border: green 1px solid;
  height: 100vh;
}

.header a {
  text-decoration: none;
  color: #888888;
  font-size: 1.3rem;
  margin: .5rem 1rem;
}

a {
  text-decoration: none;
}

a:visited {
  color: #888888;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #740000;
  opacity: 0.5;
}

/* hiding placeholder text when user clicks on input -------------  */
input:focus::placeholder {
  /* Firefox 18- */
  color: transparent;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease-in-out;
}


/* ---------------------------------------------------------------- */
.main-content {
  /* border: 3px solid black; */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 0 3rem;
}

.header {
  /* border: 1px red solid; */
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.header a:hover,
.header a:focus {
  color: #F04F54;
  text-decoration: none;
}

.header h1{
  font-size: 4rem;
  text-align: center;
}

.header-links {
 margin: 0 auto;
}

.footer {
  border-top: 1px solid #c0bebe;
  color: #888888;
}