body,
html {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Helvetica neue', sans-serif;
}

.main-content {
  background: #b997b2;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-mask {
  /* border: 1px solid red; */
  border-radius: 25px;
  width: 80vw;
  height: 60vh;
  background: #000000;
  /* For browsers that do not support gradients */
  background: radial-gradient(closest-side at 60% 55%, #565656, black);
  /* Standard syntax (must be last) */
}

.background {
  /* border: 1px solid blue; */
  border-radius: 25px;
  background: url('../assets/background-sunset.png') no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 94%;
  width: 91.5%;
  border: 9px solid #96969666;
  border-radius: 21px;
  padding: .5rem 2rem;
}
/********************************************************************* Top Display ***********/
.top-main-display {
  /* border: 1px solid yellow; */
  flex-grow: 6;
  display: flex;
}

/* ---------- Top Left Display ------------ */
.top-left-display {
  /* border: 1px solid white; */
  color: white;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.top-left-display-icon {
  background: url(../assets/Cloud.svg) no-repeat top left;
  background-size: contain;
  width: 70%;
  height: 50%;
}

.top-left-display-weather {
  padding: 0 0 0 1rem;
  font-weight: 800;
  font-size: 2rem;
}

.top-left-display-city {
  padding: .5rem 0 0 1rem;
  font-weight: 300;
}

.top-left-display-temp {
  padding: .5rem 0 0 1rem;
  font-size: 2rem;
}