body,
html {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Helvetica neue', sans-serif;
}

.main-content {
  background: #b997b2;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-mask {
  /* border: 1px solid red; */
  border-radius: 25px;
  width: 80vw;
  height: 60vh;
  background: #000000;
  /* For browsers that do not support gradients */
  background: radial-gradient(closest-side at 60% 55%, #565656, black);
  /* Standard syntax (must be last) */
  min-height: 635px;

}

.background {
  /* border: 1px solid blue; */
  border-radius: 25px;
  background: url('../assets/background-sunset.png') no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 95.2%;
  border: 9px solid #96969666;
  border-radius: 21px;
  padding: .5rem 2rem;
}
/********************************************************************* Top Display ***********/
.top-main-display {
  /* border: 1px solid yellow; */
  flex-grow: 6;
  display: flex;
}

/* ---------- Top Left Display ------------ */
.top-left-display {
  /* border: 1px solid white; */
  color: white;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.top-left-display-icon {
  background: url(../assets/Cloud.svg) no-repeat top left;
  background-size: contain;
  width: 70%;
  height: 50%;
}

.top-left-display-weather {
  padding: 0 0 0 1rem;
  font-weight: 800;
  font-size: 2rem;
}

.top-left-display-city {
  padding: .5rem 0 0 1rem;
  font-weight: 300;
}

.top-left-display-temp {
  padding: .5rem 0 0 1rem;
  font-size: 2rem;
}
/* ---------- Search Display ------------ */
.search-display {
  /* border: 1px solid purple; */
  width: 50%;
  display: flex;
  flex-direction: column;
}

.search-box {
  background: #ffffff00;
  height: 2rem;
  margin: 2rem 0 0 2rem;
  width: 60%;
  border: 1px solid white;
  border-radius: 15px;
  color: white;
  padding: 5px 5px 5px 14px;
  font-size: 1rem;
}

#summary-display {
  color: #ca9b6e;
  font-weight: 200;
  font-size: 2rem;
  margin: 2rem 0 0 2rem; 
}

input {
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
}

input:focus {
  outline: unset;
}
/* ---------- Top Right Display ------------ */
.top-right-display {
  /* border: 1px solid orange; */
  color: white;
  font-weight: 100;
  width: 30%;
  display: flex;
  flex-wrap: wrap;
}

.top-left-tile {
  width: 50%;
  padding-top: 1rem;
}

.condition {
  padding: 0.5rem 1rem;
}

.sub-condition {
  display: flex;
  align-items: center;
}

.sub-condition-icon1 {
  background: url(../assets/HumidityArtboard.svg) no-repeat top left;
}

.sub-condition-icon2 {
  background: url(../assets/ChanceOfRain.svg) no-repeat top left;
}

.sub-condition-icon3 {
  background: url(../assets/WindSpeed.svg) no-repeat top left;
}

.sub-condition-icon4 {
  background: url(../assets//AirPressure.svg) no-repeat top left;
}

.sub-condition-icon {
  background-size: contain;
  width: 50px;
  height: 50px;
}

.sub-condition-value {
  font-weight: 600;
}

.top-right-tile {
  width: 50%;
  padding-top: 1rem;
}

.bottom-left-tile {
  width: 50%;
  padding-top: 1rem;
}

.bottom-right-tile {
  width: 50%;
  padding-top: 1rem;
}
/********************************************************************* Days Display ***********/
.days-display {
  /* border: 1px solid black; */
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.days-display-left-arrow {
  background: url(../assets/LeftArrow.svg) no-repeat;
  width: 20px;
  height: 20px;
  margin: 0.5rem;
}

.days-display-right-arrow {
  background: url(../assets/RightArrow.svg) no-repeat;
  width: 20px;
  height: 20px;
  margin: 0.5rem;
}

.days-display-previous-day {
  color: white;
  width: 45%;
}

.days-display-next-day {
  color: white;
  width: 45%;
  text-align: end;
}
/********************************************************************* hours Display ***********/
.hours-display {
  /* border: 1px solid green; */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.hours-display-navigation {
  display: flex;
  justify-content: space-around;
  align-self: center;
  width: 60%;
}

.hours-display-right-arrow {
  background: url(../assets/RightArrowWithCircle.svg) no-repeat;
  width: 40px;
  height: 40px;
}

.hours-display-left-arrow {
  background: url(../assets/LeftArrowWithCircle.svg) no-repeat;
  width: 40px;
  height: 40px;
}
/* ----------------------------------- hourly tiles */
.hourly-tiles {
  color: white;
  margin: 0 auto;
}

.hourly-tile {
  padding: 0 .5rem;
  width: 10.2%;
  display: inline-block;
}

.hour,
.hourly-tile-feels-like {
  font-weight: 100;
  padding: 1rem 0;
}

.hourly-tile-temp {
  font-size: 1.5rem;
  font-weight: 200;
}